* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-text);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-regular);
  color: var(--color-body);
  overflow-x: hidden;
}

html {
  font-size: var(--font-size-html);
}

/* General Components */

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

.subheading {
  display: block;
  font-size: var(--font-size-subheading);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-subheading);
  color: var(--color-primary);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.more-info-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.more-info {
  font-size: var(--font-size-more-info);
  color: var(--color-primary);
}

.more-info-arrow {
  font-size: var(--font-size-arrow-icon);
  color: var(--color-primary);
}

.view-all-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.view-all {
  font-size: var(--font-size-view-all);
  color: var(--color-primary);
}

.view-all-arrow {
  font-size: var(--font-size-arrow-icon);
  color: var(--color-primary);
}
