/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1

- Letter spacing

--- 02 COLORS

- Primary: 
#e58411

- Secondary:
#F6973F

- Tertiary:
#F6B76F

- Greys:
#1E1E1E
#F7F7F7
#EEEEEE
#8D8D8D
#0D1B39
#1E2833

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITE SPACE

- Spacing system(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #1e1e1e;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

/* General Components */
.container {
  /* 1440px */
  max-width: 128rem;
  padding: 0 8rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 8rem;
  line-height: 1.3;
}

h1 {
  font-size: 4.2rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.2;
}

.subheading {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.75px;
  color: #e58411;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.more-info {
  font-size: 1.4rem;
  color: #e58411;
}

.view-all {
  font-size: 1.8rem;
  color: #e58411;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  width: 100%;

  position: absolute;
  z-index: 10;
}

.panto-logo-type {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
}

.shopping-cart {
  font-size: 2.4rem;
  height: 2.4rem;
  color: #fff;
}

/* Hero Section */
.section-hero {
  background-image: url(../img/hero-img.webp);
  background-size: cover;
  background-position: center;
  height: 108.4rem;
}

.hero {
  color: #fff;
  text-align: center;
}

.search-bar input[type="search"] {
  font-family: inherit;
  outline: none;
}

.search-icon {
  background-color: #e58411;
}

/* Why Choosing Us Section */

/* Best Selling Product Section */

/* Experiences Section */

/* Materials Section */

/* Testimonials Section */

/* Footer */
.footer-heading {
  font-size: 1.8rem;
  color: #f6973f;
}

.footer-link {
  color: inherit;
}
