@import url(general.css);
@import url(typography.css);
@import url(color.css);

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 8rem;
  width: 100%;

  position: absolute;
  z-index: 10;
}

.panto-logo-type {
  font-size: var(--font-size-panto-logo-type);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}

.main-nav-list .furniture-icon {
  display: flex;
  gap: 0.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-main-nav);
  color: var(--color-white);
}

.shopping-cart-icon {
  font-size: var(--font-size-shopping-cart-icon);
  color: var(--color-white);
}

/* Hero Section */
.section-hero {
  background-image: url(../img/hero-img.webp);
  background-size: cover;
  background-position: center;
  height: 108.4rem;
}

.hero {
  text-align: center;
  color: var(--color-white);
  padding-block: 16rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.4rem;
}

.hero-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
}

.hero-text-box h1 {
  max-inline-size: 92rem;
}

.hero-description {
  max-inline-size: 60rem;
  font-size: var(--font-size-hero-description);
  line-height: var(--line-height-hero-footer-p);
  opacity: var(--opacity-high);
}

.search-bar {
  position: relative;
  backdrop-filter: blur(0.3rem);
  border-radius: 4.2rem;
  width: 32rem;
}

.hero .search-bar-input {
  font-family: inherit;
  font-size: var(--font-size-search-bar);
  background-color: var(--color-search-bar-background);
  color: var(--color-white);
  width: 32rem;
  opacity: var(--opacity-high);
  padding: 1.6rem 2rem 1.6rem 1.6rem;
  outline: none;
  border: 1px solid var(--color-white);
  border-radius: 4.2rem;
}

.hero .search-bar-input::-webkit-search-cancel-button {
  appearance: none;
}

.hero .search-bar-input::placeholder {
  color: var(--color-white);
}

.search-icon {
  padding: 0.8rem;
  font-size: var(--font-size-search-icon);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-25%, -50%);
}

.close-icon {
  padding: 0.8rem;
  font-size: var(--font-size-search-icon);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-25%, -50%);

  display: none;
}

/* Why Choosing Us Section */
.section-why-us {
  padding: 12.8rem 6.2rem;
}

.why-us {
  display: grid;
  grid-template-columns: 28rem auto;
  align-items: center;
  gap: 9.6rem;
}

.why-us-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.why-us-item {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.why-us-item-text {
  font-size: var(--font-size-why-us-text);
  line-height: var(--line-height-why-us-text);
  opacity: var(--opacity-high);
}

/* Best Selling Product Section */
.section-products {
  background-color: var(--color-product-background);
}

.products {
  text-align: center;
  padding-inline: 9.6rem;
}

.products-heading {
  padding: 4.8rem 0 3.2rem 0;
}

.categories {
  font-size: var(--font-size-product-nav);
  background-color: var(--color-product-nav);
  border-radius: 48px;
  inline-size: 36rem;
  margin: 0 auto 9.6rem auto;
}

.categories-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-link {
  display: inline-block;
  color: inherit;
  padding: 1.8rem 2.4rem;
}

.category-chair {
  display: inline-block;
  background-color: var(--color-white);
  border-radius: 32px;
  padding: 1.2rem 1.6rem;
}

.product-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 4.8rem;
  position: relative;
}

.product-image-box {
  border-radius: 24px 24px 0 0;
  background-color: var(--color-product-image-box);
  block-size: 24rem;

  position: relative;
}

.product-image {
  position: absolute;
  bottom: 3.2rem;
  transform: translate(-50%, 0);
}

.product-container {
  border-radius: 0 0 24px 24px;
  background-color: var(--color-white);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.6rem 2.4rem;
  inline-size: 26.8rem;
  margin-inline: auto;
}

.product-item-category {
  font-size: var(--font-size-product-item-category);
  color: var(--color-product-item-category);
}

.product-item-text {
  font-size: var(--font-size-product-item-text);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-product-item-details);
}

.product-stars {
  font-size: var(--font-size-product-stars);
  color: var(--color-tertiary);
}

.product-item-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11rem;
  padding-block-start: 1.6rem;
}

.product-item-price-box {
  font-size: var(--font-size-product-price);
  font-weight: var(--font-weight-semi-bold);
  display: flex;
}

.product-item-dollar {
  font-size: var(--font-size-product-dollar-sign);
}

.product-add-icon {
  font-size: var(--font-size-product-add);
}

.view-all-box {
  grid-column: 1 / -1;
  padding: 3.6rem 0 4.8rem 0;
}

.product-btn {
  background-color: var(--color-white);
  border-radius: 50%;
  display: inline-block;
  padding: 0.8rem;
  position: absolute;
}

.btn--left {
  left: 0;
  top: 30%;
  transform: translate(-50%, 0);
}

.btn--right {
  right: 0;
  top: 30%;
  transform: translate(50%, 0);
}

/* Experiences Section */

/* Materials Section */

/* Testimonials Section */

/* Footer */
.footer-heading {
  font-size: var(--font-size-footer-heading);
  color: var(--color-secondary);
}

.footer-link {
  color: inherit;
}
