.testimonials {
  text-align: center;
  margin-block-start: 19.2rem;
}

.testimonials h2 {
  padding-block-start: 1.6rem;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 3.6rem;
  padding-inline: 12.8rem;
  margin: 4.8rem 0 19.2rem 0;

  position: relative;
}

.client-name {
  font-size: var(--font-size-testimonials-client-name);
  font-weight: var(--font-weight-bold);
}

.client-text {
  font-size: var(--font-size-testimonials-client-text);
  opacity: var(--opacity-medium);
}

.clients blockquote {
  font-size: var(--font-size-testimonials-blockquote);
  opacity: var(--opacity-high);
}

.client-stars {
  font-size: var(--font-size-testimonials-stars);
  color: var(--color-secondary);
  display: flex;
  gap: 0.4rem;
  justify-content: center;
}

.client-stars .icon-5 {
  opacity: var(--opacity-low);
}

.clients {
  height: 47rem;
  border-radius: 16px;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding: 1.6rem;
}

.client-1 {
  background-image: url(../img/testimonials/testimonial-1.jpg);
}

.client-2 {
  background-image: url(../img/testimonials/testimonial-2.jpg);
}

.client-3 {
  background-image: url(../img/testimonials/testimonial-3.jpg);
}

.client-container {
  background-color: var(--color-white);
  border-radius: 20px;
  block-size: 20rem;
  padding: 3.6rem 3.6rem 2.4rem 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  position: relative;
}

.client-container-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.client-img-box img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.client-img-box {
  background-color: var(--color-white);
  padding: 0.8rem;
  border-radius: 50% 50% 0 0;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonials-container .btn {
  background-color: var(--color-white);
  border-radius: 50%;
  display: inline-block;
  padding: 1.2rem;
  position: absolute;
}

.testimonials-container .btn--left {
  box-shadow: var(--box-shadow-arrow-btn) -2px 2px 16px;
  left: 9%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.testimonials-container .btn--right {
  box-shadow: var(--box-shadow-arrow-btn) 2px 2px 16px;
  right: 9%;
  top: 45%;
  transform: translate(50%, -50%);
}
