:root {
  /* font family */
  --font-family-text: "Open Sans", sans-serif;

  /* font size */
  --font-size-html: 62.5%;

  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.4rem;
  --font-size-4: 1.6rem;
  --font-size-5: 1.8rem;
  --font-size-6: 2rem;
  --font-size-7: 2.4rem;
  --font-size-8: 3rem;
  --font-size-9: 3.6rem;
  --font-size-10: 4.4rem;
  --font-size-11: 5.2rem;
  --font-size-12: 6.2rem;
  --font-size-13: 7.4rem;
  --font-size-14: 8.6rem;
  --font-size-15: 9.8rem;

  --font-size-panto-logo-type: var(--font-size-8);

  --font-size-h1: var(--font-size-13);
  --font-size-h2: var(--font-size-10);
  --font-size-h3: var(--font-size-7);
  --font-size-subheading: var(--font-size-5);

  /*---general components */
  --font-size-more-info: var(--font-size-3);
  --font-size-view-all: var(--font-size-5);
  --font-size-arrow-icon: var(--font-size-6);

  /*---header */
  --font-size-main-nav: var(--font-size-5);
  --font-size-shopping-cart-icon: var(--font-size-8);

  /*---hero section */
  --font-size-hero-description: var(--font-size-7);
  --font-size-search-bar: var(--font-size-5);
  --font-size-search-icon: var(--font-size-7);

  /*---why choosing us section */
  --font-size-why-us-text: var(--font-size-4);

  /* ---products section */
  --font-size-product-nav: var(--font-size-5);
  --font-size-product-item-category: var(--font-size-4);
  --font-size-product-item-text: var(--font-size-6);
  --font-size-product-stars: var(--font-size-5);
  --font-size-product-dollar-sign: var(--font-size-4);
  --font-size-product-price: var(--font-size-7);
  --font-size-product-add: var(--font-size-12);
  --font-size-product-buttons: var(--font-size-7);

  /*---footer */
  --font-size-footer-heading: var(--font-size-5);

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* line height */
  --line-height-body: 1;
  --line-height-h1: 1.3;
  --line-height-h2: 1.2;
  --line-height-h3: 1.2;

  --line-height-hero-footer-p: 1.6;

  --line-height-why-us-text: 1.85;

  /* letter spacing */
  --letter-spacing-subheading: 0.075rem;
}
